.shop-page{
    margin-top: 50px;
}
.shop-page-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
}
.shop-page-container .shop-card{
    width: 100%;
    background-color: #fff;
}
.shop-page-container .shop-card .imgBx{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;

}
.shop-page-container .shop-card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin:top ;
}
.shop-page-container .shop-card:hover .imgBx img{
    transform: scale(1.5);
}
.shop-action{
    position: absolute;
    top: 10px;
    right: 10px;
}
.shop-action li{
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transform: translateX(60px);
}
.shop-page-container .shop-card:hover .shop-action li{
    transform: translateX(0px);
}
.shop-action li:hover{
    background: #ff2020;
    color: white;
}
.shop-action li span{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    background: #ffff;
    color: black;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}
.shop-action li:hover span{
    opacity: 1;
    transform: translateY(-50%) translateX(0px);
}
.shop-action li span ::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: translateY(-50%) rotate(45deg);
}
.shop-page-container .shop-card .content{
    padding: 10px;
}
.shop-page-container .shop-card .content .productName h3{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 5px 0 ;
}
.shop-page-container .shop-card .content .price-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-page-container .shop-card .content .price-rating h2{
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
}
.shop-page-container .shop-card .content .price-rating fa{
    color: #ffd513;
    cursor: pointer;
}
.pagination {
    margin-top: 50px;
    display: flex;
    padding-left: 0;
    list-style: none;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
}
.pageLinkActive {
    background-color: crimson;
    color: white;
}