.shipping-content {
    width: 80%;
    margin: 40px auto;
}
.shipping-content h1 {
    text-align: center;
    font-size: 45px;
    margin: 30px 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    margin: 40px auto;
}
th, td {
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even){background-color: #f2f2f2}
.shipping-img{
width: 50%;
margin: 20px auto;
}
.shipping-img img{
    width: -webkit-fill-available;
}